In [3]:
#Importing Required library

import pandas as p
import random

### Creating Our own Data with Random Value

In [4]:
#Function to create our own data
#n=how many we want

def Rand(start, end, n): 
    res = [] 
    for j in range(n): 
        res.append(random.randint(start, end)) 
    return res

In [5]:
#making 50 row dataset

price=Rand(2380000,10150000, 50)
area=Rand(4320,16200,50)
age=Rand(5,25,50)

loc=['Katihar', 'Kochi', 'Indore', 'Jabalpur', 'Varanasi', 'Surat', 'Jaipur', 'Bengaluru', 'Nagpur', 'Kolkata', 'Visakhapatnam', 'Ranchi', 'Amritsar', 'Srinagar', 'Patna', 'Ujjain', 'Ahmedabad', 'Guwahati', 'Mangalore', 'Vadodara', 'Raipur', 'Chandigarh', 'Kochi', 'Indore', 'Jabalpur', 'Varanasi', 'Surat', 'Jaipur', 'Bengaluru', 'Nagpur', 'Kolkata', 'Visakhapatnam', 'Ranchi', 'Amritsar', 'Srinagar', 'Patna', 'Ujjain', 'Ahmedabad', 'Guwahati', 'Mangalore', 'Vadodara', 'Raipur','Chandigarh', 'Kochi', 'Indore', 'Jabalpur', 'Varanasi', 'Surat', 'Jaipur', 'Bengaluru']

#print(len(location))

In [32]:
df=pd.DataFrame({'price':price,'area':area,'age':age,'location':loc})

In [33]:
df.head()

     price   area  age  location
0  2755110  15175   14   Katihar
1  6719644  15241    7     Kochi
2  5313882   8114   21    Indore
3  6698614   6247   11  Jabalpur
4  5735201   7647   25  Varanasi

In [ ]:
#Download the data for future use

df.to_csv('house_price_own_data.csv')

In [34]:
df.shape

(50, 4)

In [35]:
df.describe()

              price          area        age
count  5.000000e+01     50.000000  50.000000
mean   6.327631e+06   9611.640000  14.740000
std    2.363067e+06   3690.602792   6.721303
min    2.436151e+06   4329.000000   5.000000
25%    4.501480e+06   6423.750000   8.250000
50%    6.043802e+06   9065.500000  15.000000
75%    8.461948e+06  13281.250000  20.000000
max    9.977528e+06  16056.000000  25.000000

### Applying Sklearn Model for Multiple Regression

In [38]:
from sklearn import linear_model

In [43]:
regression=linear_model.Linearregressionression()

regression.fit(df[['area','age']],df.price)

LinearRegression()

### Checking Coefficient and Intercept

In [45]:
regression.coef_

array([-6.76183079e+00,  3.40732513e+04])

In [46]:
regression.intercept_

5890383.119364979

### Predicting House Price by giving one Random Value

In [51]:
area=8117
age=5

print("Price =",regrression.predict([[8117,5]])[0])

Price = 6005863.595263954